[Desktop Entry]
Version=1.0
Name=WebV
Comment=Simple Web Browser
Exec=webv %u
Icon=webv
Terminal=false
Type=Application
Categories=Network;WebBrowser;
